.main-div{

    height: 900px;
  
    width: 300px;
  
    background-color: grey;
  
    color: white;
  
    position: relative;
  
   
  
  }
  
  .div2 {
  
    background-color: black;
  
    height: 200px;
  
    width: 200px;
  
    margin-left: 50px;
  
    margin-top: -18px;
  
  /*   align-self: flex-start; */
  
   
  
  }
  
   
  
  .div3 {
  
    background-color: black;
  
    height: 200px;
  
    width: 200px;
  
    position: absolute;
  
    margin-left: 50px;
  
    bottom: 0
  
  /*   align-self: flex-end */
  
  }