html {

  font-family: sans-serif;

}

body {

  width: 70%;

  max-width: 960px;

  margin: 20px auto;

}

button {

  font-size: 18px;

  line-height: 1.5;

  width: 15%;

  margin: 3px;
  background-color: black; 
  color: whitesmoke;

}

div {

  height: 100px;

  border: 1px solid black;

}

div {

  display: flex;

  /*   align-items: center; */

  /*   justify-content: space-around; */

}

 

.smile {

  order: -2;

}

 

.blush {

  order: -1;

  margin-left: auto;

}

/* button: third-child {

  order: 0;

} */

 

/* .shrug {

  justify-content: flex-end;

} */