.main-div{

    height: 300px;
  
    width: 300px;
  
    background-color: grey;
  
    color: white;
  
   
  
  }
  
  .div2 {
  
    background-color: black;
  
    height: 150px;
  
    width: 150px;
  
  /*   position: absolute;  */
  
    float: right; 
  
    margin-top: 50%;
  
  /*   margin-top: -35px;  */
  
  }