.div-wrapper{
    height: 1350px; 
    width: 1350px; 
    display: flex; 
}

.main-div{
    justify-content: flex-end;
    align-items: flex-end; 
    height: 200px; 
    width: 500px; 
    background-color: grey;
    color: white;
}

/* .mini-div1, 
.mini-div2{
    background-color: black; 
    height: 150px; 
    width: 150px; 
    position: absolute; 
    color: white; 
} */