.div-wrapper{

    display: flex;
  
    min-height: 100%;
  
    width: 800px;
  
  /*   position: relative;  */
  
  }
  
   
  
  .main-div{
  
    display: inline-flex;
  
    height: 200px;
  
    width: 500px;
  
    background-color: grey;
  
    color: white;
  
    position: absolute;
  
    bottom: 0;
  
    margin-left: 300px;
  
  }
  
   
  
  .div2 {
  
    background-color: black;
  
    height: 125px;
  
    width: 125px;
  
    position: absolute;
  
    bottom: 0;
  
  }
  
   
  
  .div3 {
  
    background-color: black;
  
    height: 125px;
  
    width: 125px;
  
    margin-left: auto; 
  
  /*   margin-top: -35px;  */
  
  }